
*{
    padding: 0%;
    margin: 0%;
  }
  .header{
    background-color: #ECD2FA;
    height: 110px;
    z-index: 1000px;
  }
  .logo{
    margin-top: 0px;
    
  }
  .logo img{
    margin-top: 10px;
    margin-left: 150px;
  }
  .header-1{
  height: 300px;
  }
  .header-2{
    background-color: #5a47ab;     
  }
  .header-slide{
    margin-top: 90px;
    position: relative;
  }
  .menu{
    margin-top: 30px;
    padding-left: 185px;
    float: left;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    height: 50px;
    border-right: solid 1px black;
    
  }
  .menu ul{
     list-style-type: none;
     margin:0px;
     padding: 0px;
  }
  .menu ul li{
     float: left;
     position: relative;
  }
  .menu ul li a{
     display: block;
     color: black;
     padding: 25px;
     font-family: content;
     font-size: 19px;
     font-style: bold;
     text-decoration: none;
  }
  .menu ul li a:hover{
     color: #FB2E86;
  }
  .botton-header{
    
    margin-top: 9px;
    position: relative;
    top: 20px;
    justify-content: flex-end;
    height: 200px;
  
  }
  .btnsign_in_out {
    
    padding: 12px 40px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #FB2E86;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .btnsign_in_out::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .btnsign_in_out:hover {
    color: #e8e8e8;
   }
   
   .btnsign_in_out:hover::before {
    width: 100%;
   }
  
  .btnsearch{
    height: 35px;
    background-color: #FB2E86;
    margin-top: 8px;
  }
  
  .main-screen{
    width: 100%;
    height: 100%;
  
    display: flex;
  }
  .input-box{
    width: 40%;
    height: 100%;
  
  }
  .search-btn{
    width: 10%;
    height: 100%;
  
  }
  .signin-out-btn{
    width: 50%;
    height: 100%;
    margin-top: 1px;
  }



.contact-header{
    height: 200px;
    background-color: #EEEFFB;
    position: relative;
    margin-top: 110px;
}
.contact-header .content{
    height: 100%;
    width: 50%;
    position: absolute;
    margin-top: 29px;
    margin-left: 150px;

}
.contact-header .content h2{
 font-size: 25px;
 font-style: bold;
 font-family: content;   
}


.product_detail{
  height: 700px;  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.product_detail .main-contain{
  width: 80%;
  height: 95%;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px 10px #535457;
  border-radius: 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-contain .slide1{
  width: 19%;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.main-contain .slide2{
  width: 39%;
  height: 95%;

}
.main-contain .slide3{
  width: 37%;
  height: 95%;

}
.slide1 .top1{
  width: 90%;
  height: 32%;

} 
.slide1 .top2{
  width: 90%;
  height: 32%;

} 

.slide1 .top3{
  width: 90%;
  height: 32%;
  background-color: chartreuse;
} 

.slide3 h1{
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 20px;
}
.fa-star{
  color: yellow;
  font-size: 10px;
  padding: 1px;
}
.slide3 p{
  font-family: content;
  font-size: 20px;
  font-style: bold;
  margin-top: 20px;
}

    .main-footer{
        background-color:#ECD2FA;
        height: 410px;
        margin-top: 100px;
      }
      .footer-right-side .inside{
      padding-top: 20px;
        
      }
      .footer-right-side .inside img{
        margin-left: 140px;
      }
      .footer-right-side .text{
        padding-left: 40px;
        font-size: 13px;
        
      }
      
      .footer-right1 h4{
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      font-style: bold;
      }
      .footer-right1 .inside .text{
        margin-top: 37px;
      }
      
      .footer-right1 .inside{
        padding-top:100px;
        }

      
        .row{
          margin-bottom: 75px;
        }
        h3{
          font-size: 40px;
          font-weight: bold;
          padding-left: 5px;
          padding-bottom: 50px;
        } 
        .popular-courses{
          margin-left: 150px;
        }
        .card-title p{
          font-size: 15px;
        }
        .card-title{
          display: flex;
          justify-content: space-between;
        }
        .card-title .user{
          font-size: 15px;
          color: #5a47ab;
        }
        .card-title .rating {
          font-size: 15px;
          color: #5a47ab;
        }
        .cardfooter{
          display: flex;
          justify-content: space-between;
          margin-top: 10px;
        }
        .cardfooter p{
          font-size: 20px;
          color: #5a47ab;
          font-family: Arial, Helvetica, sans-serif;
        }
        .cardfooter a{
          width: 110px;
          height: 35px;
          padding-bottom: 30px;
        
        }
        .cardfooter .btn-primary{
          background-color: #FB2E86;
        
        }
        .card{
          width: 270px;
          height: 365px;
        }
        .card img{
          width: 270px;
          height: 250px;
          background-color: #F6F7FB;
        }
        .cardfooter .btn-primary span{
          font-style: bold;
          font-size: 17px;
        }
        
    